.sidebar {
  width: 220px;
  min-height: 100vh;
  background: white;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  padding-top: 30px;
}

.sidebar .nav-link {
  color: black !important;
  font-weight: 500;
  font-size: 16px;
  padding: 12px 18px;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  transition: 0.2s;
}

.sidebar .nav-link:hover,
.sidebar .nav-link.active {
  background-color: #7A7A73;
  color: white !important;
}



