.sidebar {
  width: 220px;
  min-height: 100vh;
  background: linear-gradient(to bottom, #d7e5ff, #d9c9ff);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  padding-top: 30px;
}

.sidebar .nav-link {
  color: #4b0082 !important;
  font-weight: 500;
  font-size: 16px;
  padding: 12px 18px;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  transition: 0.2s;
}

.sidebar .nav-link:hover,
.sidebar .nav-link.active {
  background-color: rgba(255, 255, 255, 0.3);
  color: #000 !important;
}

