<div th:replace="~{fragments/base :: layout}">
    <div th:fragment="content">
        <main class="p-3">
            <div class="d-flex gap-2">
                <a class="nav-link" th:href="@{/create-feedback}">New</a>
            </div>
            <h2>List Survey</h2>
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead class="table-light">
                    <tr>
                        <th>ID</th>
                        <th>Admin</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Type</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td th:text="1"></td>
                        <td th:text="'Nguyen Van A'"></td>
                        <td th:text="'Day la survey'"></td>
                        <td th:text="'Day la content survey'"></td>
                        <td th:text="'MULTIPLE_CHOICE'"></td>
                        <td th:text="'View'"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </main>
    </div>
</div>